@import "mixins";
@import "veribals";
@import "header";
@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";
@import "section-5";

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  @media (min-width: 992px) {
    box-sizing: content-box;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
}